.navbar-nav :hover{
    color: #fd7e14;
}
.nav-item button{
    padding: 1px;
    width: 100%;
}

#mindItems, #topResItems{
    overflow: auto;
    scroll-behavior: smooth;
    width: 100%;
    white-space: nowrap;
    border-bottom: 1px solid rgb(223, 220, 220);
}

#mindItems div, #topResItems #card{
    display: inline-block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

#mindItems div img{
    max-width: 140px;
}
#mindItems::-webkit-scrollbar, #topResItems::-webkit-scrollbar {
    display: none;
}

#Toprest button , #mindDiv button{
    background-color: rgb(223, 220, 220);
}

#Toprest img{
    border-radius: 20px;
}
.card{
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#dishItemsnew .card img:hover {
   transform: scale(0.9);
}
#logo:hover{
    transform: scale(1.2);
}

#dishItemsnew .card img, #logo{
  transition: transform 0.3s ease-in-out;
}

.offcanvas-body a:hover{
    color: #fd7e14;
}

.footerItems img{
    height: 100px;
    width: 200px;
}

#restsNearbyMe th, #restsNearbyMe td{
    padding: 10px;
}

#topResItems .card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 1rem;
    transition: opacity 1s, transform 0.5s ease-in-out;
    transform: translateY(100%); 
   
}
#topResItems .card{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
  
#topResItems .card:hover .card-img-overlay {
    transform: translateY(35%);
    border-radius: 0px;
}

.footer td {
    position: relative;
    display: inline-block;
    vertical-align: top
}

.footer td:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0;
    height: 1px;
    transition: ease all .35s;
    background: currentColor
}

.footer td:hover:after {
    left: 0;
    right: auto;
    width: 100%
}