* {
    box-sizing: border-box;
  }
body{
    overflow-x:hidden;
    /* background-color: rgb(249, 247, 247); */
}
#main{
    height: 300px;
    /* width: 100%; */
    /* border:1px solid black; */
    /* background-color: rgb(238, 236, 236); */
    /* background-color: rgb(249, 247, 247); */
    margin-left: 14%;
    margin-right: 12%;
    overflow-x:hidden
}
#mind{
    display: flex;
    height: 50px;
    width: 100%;
    /* border:1px solid black; */
}
#content{
    margin-top: 0px;
    font-size: 25px;
    font-weight: bolder ;
}
#movementbuttons{
    margin-left: 45%;
    display: flex;
    height: 40px;
    width: 100px;
    float: right;
    /* border: 1px solid black; */
    margin-top: 0px;
}
/* #movementbuttons .prev{
    transform: translate(-50%,-50%);
}
#movementbuttons .next{
    transform: translate(-50%,-50%);
} */
#prebutton{
    /* float: right; */
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid white;
    /* border-radius: 50px; */
}
#nextbutton{
    /* float: right; */
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid white;
}
#cover{
    position: relative;
    width: 90%;
    /* border:1px solid black; */
    /* height: 150px; */
} 
#mindItems{
    /* background-color: rgb(249, 247, 247); */
    display: flex;
    width: 98%;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
    
    position: relative;
    scroll-behavior: smooth;
}
#mindItems::-webkit-scrollbar{
    width:0;
}
.mindFood{
    /* position: absolute; */
    /* background-color: rgb(249, 247, 247); */
    height: 180px;
    min-width: 22%;
    /* margin-left: 2%; */
    /* border:1px solid black; */
    /* overflow-x: auto; */
    /* background-color: white; */
    overflow-x: hidden;
    overflow-y: hidden;
}
.cat{
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}
.imgcol{
    background-color: rgb(249, 247, 247);
    /* background-color: white; */
}
#Toprest{
    height: 370px;
    margin-left: 14%;
    margin-right: 12%;
    /* border: 1px solid black; */
}
.card-body>h5{
    margin-left: 3%;
    font-size: 18px;
}
#dishItems{
    height: 90%;
    width: 100%;
    /* border:1px solid black; */
    overflow-x: auto;
    /* overflow-x: hidden; */
    display: flex;
    position: relative;
    scroll-behavior: smooth;
}
#dishItems::-webkit-scrollbar{
    width:0;
}
.cartitems{
    min-width: 32%;
    /* margin-left: 0.5%; */
    /* border:1px solid black; */
}
.itemImg{
    height: 180px;
    border-radius: 15px;
    width: 95%;
    transition: transform .2s;
}
.itemImg:hover {
    transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.card-body{
    margin-left: 4%;
}
.cards{
    border:1px solid rgb(15, 15, 15);
}
.card-body >h3{
    margin-top: 2px;
    margin-left: 3%;
    margin-bottom: 2px;
}
.card-text{
    display: flex;
    margin-top: 3%;
    
    font-size: 16px;
}
.card-text > #time{
    margin-top: 2%;
    font-weight: bold;
    /* border: 1px solid black; */
}
.card-body >p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4%;
    font-size: 17px;
    color: rgb(146, 144, 144);
}
#online{
    height: 700px;
    /* width: 100%; */
    /* border: 1px solid black; */
    margin-left: 14%;
    margin-top: 4%;
    margin-right: 10%;
}
#online> #mind{
    height: 90px;
}
#filters{
    height: 45px;
    width: 100%;
    /* border: 1px solid black; */
    display: none;
    margin-bottom: 4%;

    overflow-x: auto;
        
    position: relative;
    scroll-behavior: smooth;
}
#filter::-webkit-scrollbar{
    width:0;
}
#items{
    text-align: center;
    font-size: 13px;
    width: 100%;
    justify-content: space-between;
    justify-content: space-around;
    min-width: 22%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
}
.filtbut{
    display: flex;
    height: 80%;
    border-radius: 20px;
    /* padding-top: 0.8%; */
    min-width: 10%;
    padding-left: 1%;
    padding-bottom: 0.8%;
    border: 1px solid rgb(195, 194, 194);
    /* border:1px solid black; */
    background-color: white;
    color:rgb(94, 94, 94);
    margin-top: 0.5%;
    text-align: center;
    justify-content: space-between;
    /* margi/n-right: 0.5%; */
    /* margin-bottom: 0.5%; */
}
.filtbut >img{
    margin-top: 5px;
}
#filtbut{
    display: flex;
    height: 80%;
    min-width: 80px;
    border-radius: 20px;
    padding-top: 4%;
    /* padding-left: 1%; */
    /* padding-right: 1%; */
    border: 1px solid rgb(195, 194, 194);
    /* border: 1px solid black; */
    background-color: white;
    color:rgb(94, 94, 94);
    margin-top: 7%;
}
.btn {
    margin-top: 1px;
}
.box{
    display: flex;
    width: 200px;
    margin-top: 10px;
}
.form-check-input{  
    background-color:2px solid gray;
}
/* .dropdown{
    margin-top: 0px;
    /* border-color: 1px solid black; */
/* }  */
/* .filtbut {
    margin-top: 2%;
} */
.filtbut > img{
    margin-top: 2%;
}
.gap{
    margin-right: 2%;
}
#foodDiv{
    height: 280px;
    
    display: flex;
    
    /* border: 1px solid black; */
}

.cardsitem{
    /* border: 1px solid black; */
    width: 50%;
    /* height: 80%; */
    display: flex;
    overflow-x: hidden;
}
.foodItems{
    width: 50%;
    cursor: pointer;
    /* border: 1px solid black; */
    /* height: 80%; */
}
.cats{
    /* width: 100%;50% */
    width: 100%;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: transform .2s;
}

.foodbut{
    width: 90%;
    height: 99%;
    padding-top: 0px;
    /* border: 1px solid black; */
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}
.cardimage{
    height: 50%;
    width: 85%;
    /* border-radius: 25px; */
    margin-top: 0px;
    margin-left: 4%;
    padding-top: 0px;
    transition: transform .2s;
}
.cardimage:hover {
    transform: scale(0.95); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.cardimage > img{
    border-radius: 15px;
    margin-left: 2%;
}
#bestplace{
    height: 200px;
    margin-left: 9%;
    margin-top: 4%;
    margin-right: 7%;
}
.allplace{
    width: 100%;
    height: 80px;
    display: flex;
}
.twoplaces{
    width: 50%;
    height: 100%;
    display: flex;
}
.single{
    width: 50%;
    height: 100%;
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
}
.placebutton{
    height: 70%;
    width: 95%;
    border-radius: 15px;
    background-color: white;
    font-size:15px ;
    color: rgb(83, 83, 83);
    border: 1.5px solid rgb(216, 216, 216);
}
/* STYLING */
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
   
  }
  .navbar{
    height: 80px;
    margin: 0px;
    background-color: #ffffff;
    position: sticky;
  }
  
  #nav-link{
    color: #2f2f31;
    font-weight: 500;
   position: relative;
   text-align: center;
   padding-left: 20px;
  }
  
  #nav-link:hover,#nav-link.active,svg:hover{
    color: rgb(215, 170, 87);
    fill: rgb(215, 170, 87);
  
  }
  
  #nav-link:hover::before, #nav-link.active::before{
    width: 100%;
    visibility: visible;
    color: rgb(215, 170, 87);
  }
  
  .j{
    margin-left: 10px;
    font-size: 30px;
    font-weight: 1000px;
   
  }
  .navbar-toggler-icon{
    fill: black !important;
    border: #2f2f31;
    
  }
  .s-icon-main{
    
    margin-left: 130px;
  }
  
  /* .c{
    margin-left: 170px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(94, 105, 114);
  
  }
  .button1{
    
    
    width: 10%;
    appearance: button;
    background-color:white;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
    font-size: 15px;
    margin-left: 170px;
    background-color: black;
    float: left;
  }
  .button2{
    width: 10%;
   
    appearance: button;
    background-color:white;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
    font-size: 15px;
   float: left;
    background-color: black;
  
  }
  .dark{
    width: 100%;
    height: 500px;
    background-color: rgb(0, 0, 0);
    color:white;
    font-weight: 300;
    display: grid;
    grid: 300px / auto auto auto;
    padding: 10px;
    gap: 10px;
  } */
  .grid-container1 {
    width: 100%;
    display: grid;
    grid: 300px / auto auto auto auto;
    background-color:rgb(1, 1, 1);
    height:fit-content;
    display: flex;
    padding-top: 30px;
   
    
  }
  .grid-container1 div{
    margin-left: 30px;
  }
  .grid-container2{
    background-color:rgb(0, 0, 0);
    
    color: white;
    font-weight: 600;
   
  
  }
  #font1{
    color: rgb(146, 146, 146);
    padding-top: 0px;
    font-size: 15px;
    margin-left: 150px;
    font-weight: 600;
    
  }
  #font2{
    color: white;
    margin-left: 150px;
    font-weight: 500;
  
  }
  .app{
      height: 140px;
      width: 100%;
      background-color: rgb(227, 229, 240);
      display: flex;
  }
  .app-icons{
    padding-left:15%;
    padding-bottom: 65px !important;
    text-align: center !important;
   
  }
  .app-text{
    padding-left: 190px;
    padding-top: 30px;
  }
  #swiggy-icon{
   
    padding-left: 130px;
  }
  #swiggy-heading{
    font-weight: 900;
    font-size: 23px;
    color: white;
  }

  * {
    box-sizing: border-box;
  }
body{
    overflow-x:hidden;
    /* background-color: rgb(249, 247, 247); */
}
#main{
    height: 300px;
    /* width: 100%; */
    /* border:1px solid black; */
    /* background-color: rgb(238, 236, 236); */
    /* background-color: rgb(249, 247, 247); */
    margin-left: 14%;
    margin-right: 12%;
    overflow-x:hidden
}
#mind{
    display: flex;
    height: 50px;
    width: 100%;
    /* border:1px solid black; */
}
#content{
    margin-top: 0px;
    font-size: 25px;
    font-weight: bolder ;
}
#movementbuttons{
    margin-left: 45%;
    display: flex;
    height: 40px;
    width: 100px;
    float: right;
    /* border: 1px solid black; */
    margin-top: 0px;
}
/* #movementbuttons .prev{
    transform: translate(-50%,-50%);
}
#movementbuttons .next{
    transform: translate(-50%,-50%);
} */
#prebutton{
    /* float: right; */
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid white;
    /* border-radius: 50px; */
}
#nextbutton{
    /* float: right; */
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid white;
}
#cover{
    position: relative;
    width: 90%;
    /* border:1px solid black; */
    /* height: 150px; */
} 
#mindItems{
    /* background-color: rgb(249, 247, 247); */
    display: flex;
    width: 98%;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
    
    position: relative;
    scroll-behavior: smooth;
}
#mindItems::-webkit-scrollbar{
    width:0;
}
.mindFood{
    /* position: absolute; */
    /* background-color: rgb(249, 247, 247); */
    height: 180px;
    min-width: 22%;
    /* margin-left: 2%; */
    /* border:1px solid black; */
    /* overflow-x: auto; */
    /* background-color: white; */
    overflow-x: hidden;
    overflow-y: hidden;
}
.cat{
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}
.imgcol{
    background-color: rgb(249, 247, 247);
    /* background-color: white; */
}
#Toprest{
    height: 370px;
    margin-left: 14%;
    margin-right: 12%;
    /* border: 1px solid black; */
}
.card-body>h5{
    margin-left: 3%;
    font-size: 18px;
}
#dishItems{
    height: 90%;
    width: 100%;
    /* border:1px solid black; */
    overflow-x: auto;
    /* overflow-x: hidden; */
    display: flex;
    position: relative;
    scroll-behavior: smooth;
}
#dishItems::-webkit-scrollbar{
    width:0;
}
.cartitems{
    min-width: 32%;
    /* margin-left: 0.5%; */
    /* border:1px solid black; */
}
.itemImg{
    height: 180px;
    border-radius: 15px;
    width: 95%;
    transition: transform .2s;
}
.itemImg:hover {
    transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.card-body{
    margin-left: 4%;
}
.cards{
    border:1px solid rgb(15, 15, 15);
}
.card-body >h3{
    margin-top: 2px;
    margin-left: 3%;
    margin-bottom: 2px;
}
.card-text{
    display: flex;
    margin-top: 3%;
    
    font-size: 16px;
}
.card-text > #time{
    margin-top: 2%;
    font-weight: bold;
    /* border: 1px solid black; */
}
.card-body >p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4%;
    font-size: 17px;
    color: rgb(146, 144, 144);
}
#online{
    height: 700px;
    /* width: 100%; */
    /* border: 1px solid black; */
    margin-left: 14%;
    margin-top: 4%;
    margin-right: 10%;
}
#online> #mind{
    height: 90px;
}
#filters{
    height: 45px;
    width: 100%;
    /* border: 1px solid black; */
    display: none;
    margin-bottom: 4%;

    overflow-x: auto;
        
    position: relative;
    scroll-behavior: smooth;
}
#filter::-webkit-scrollbar{
    width:0;
}
#items{
    text-align: center;
    font-size: 13px;
    width: 100%;
    justify-content: space-between;
    justify-content: space-around;
    min-width: 22%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
}
.filtbut{
    display: flex;
    height: 80%;
    border-radius: 20px;
    /* padding-top: 0.8%; */
    min-width: 10%;
    padding-left: 1%;
    padding-bottom: 0.8%;
    border: 1px solid rgb(195, 194, 194);
    /* border:1px solid black; */
    background-color: white;
    color:rgb(94, 94, 94);
    margin-top: 0.5%;
    text-align: center;
    justify-content: space-between;
    /* margi/n-right: 0.5%; */
    /* margin-bottom: 0.5%; */
}
.filtbut >img{
    margin-top: 5px;
}
#filtbut{
    display: flex;
    height: 80%;
    min-width: 80px;
    border-radius: 20px;
    padding-top: 4%;
    /* padding-left: 1%; */
    /* padding-right: 1%; */
    border: 1px solid rgb(195, 194, 194);
    /* border: 1px solid black; */
    background-color: white;
    color:rgb(94, 94, 94);
    margin-top: 7%;
}
.btn {
    margin-top: 1px;
}
.box{
    display: flex;
    width: 200px;
    margin-top: 10px;
}
.form-check-input{  
    background-color:2px solid gray;
}
/* .dropdown{
    margin-top: 0px;
    /* border-color: 1px solid black; */
/* }  */
/* .filtbut {
    margin-top: 2%;
} */
.filtbut > img{
    margin-top: 2%;
}
.gap{
    margin-right: 2%;
}
#foodDiv{
    height: 280px;
    
    display: flex;
    
    /* border: 1px solid black; */
}

.cardsitem{
    /* border: 1px solid black; */
    width: 50%;
    /* height: 80%; */
    display: flex;
    overflow-x: hidden;
}
.foodItems{
    width: 50%;
    cursor: pointer;
    /* border: 1px solid black; */
    /* height: 80%; */
}
.cats{
    /* width: 100%;50% */
    width: 100%;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: transform .2s;
}

.foodbut{
    width: 90%;
    height: 99%;
    padding-top: 0px;
    /* border: 1px solid black; */
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}
.cardimage{
    height: 50%;
    width: 85%;
    /* border-radius: 25px; */
    margin-top: 0px;
    margin-left: 4%;
    padding-top: 0px;
    transition: transform .2s;
}
.cardimage:hover {
    transform: scale(0.95); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.cardimage > img{
    border-radius: 15px;
    margin-left: 2%;
}
#bestplace{
    height: 200px;
    margin-left: 9%;
    margin-top: 4%;
    margin-right: 7%;
}
.allplace{
    width: 100%;
    height: 80px;
    display: flex;
}
.twoplaces{
    width: 50%;
    height: 100%;
    display: flex;
}
.single{
    width: 50%;
    height: 100%;
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
}
.placebutton{
    height: 70%;
    width: 95%;
    border-radius: 15px;
    background-color: white;
    font-size:15px ;
    color: rgb(83, 83, 83);
    border: 1.5px solid rgb(216, 216, 216);
}
@media (min-width:680px) and (max-width: 980px) {
    #foodDiv{
        height: 600px;
        display: grid;
    }
    .cardsitem{
        height: 300px;
        width: 100%;
    }
    #online{
        height: 1400px;
    }
    #filter{
        overflow-x: auto;
        display: none;
        position: relative;
        scroll-behavior: smooth;
    }
    #filter::-webkit-scrollbar{
        width:0;
    } 
    
    .filtbut{
        min-width: 22%;
    }
    #filtbut{
        min-width: 25%;
    }
    .dropdown{
        min-width: 11%;
        margin-right: 0px;
        /* border: 1px solid black; */
    }
    #items{
        min-width: 22%;
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
    }
    #mind{
        height: 80px;
    }
    #Toprest > hr{
        display: none;
    }
    #Toprest{
        /* border: 1px solid black; */
        height: 350px;
    }
    .allplace{
        width: 100%;
        height: 120px;
        display: grid;
    }
    .twoplaces{
        width: 100%;
    }
    #bestplace{
        height: 350px;
    }
    .cardimage{
        height: 60%;
    }
    .itemImg{
        height: 120px;
        border-radius: 15px;
        width: 80%;
    }
    .card-body{
        width: 95%;
        margin-left: 8%;
    }
    .card-body>h5{
        font-size: 15px;
        margin-left: 6%;
    }
    #mindItems{
        overflow-x: auto;
    
        position: relative;
        scroll-behavior: smooth;
    }
    #mindItems::-webkit-scrollbar{
        width:0;
    }
        /* #mindItems::-webkit-scrollbar{
        width:0;
    } */
    .mindFood{
        height: 160px;
        width: 15%;
        
    }
    #main{
        height: 250px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .imgcol{
        height: 130px;
        width: 100px;
    }
    .grid-container1{
        display: none;
    }
    .app{
        display: grid;
    }
    .s-icon-main{
    
        margin-left: 80px;
      }
   
}
@media screen and (max-width: 680px) {
    #foodDiv{
        display: grid;
        height: 1400px;
        /* border: 1px solid black; */
    }
    .cardsitem{
        display: grid;
        width: 100%;
        height:700px ;
        /* border: 1px solid black; */
    }
    .foodItems{
        width: 100%;
        height:330px ;
        /* border: 1px solid black; */
    }
    .cardimage{
        height:60% ;
    }
    #online{
        height: 3100px;
    }
    #bestplace{
        /* border: 1px solid black; */
        height: 450px;
        display: grid;
        width: 100%;
    }
    #content{
        font-size: 21px;
    }
    .allplace{
        justify-content: center;
        /* border: 1px solid black; */
        display: inline;
        width: 100%;
        height: 180px;
    }
    .twoplaces{
        justify-content: center;
        /* display: grid; */
        width: 100%;
        height: 100px;
    }
    .single{
        width: 50%;
        height: 60px;
    }
    #online > #mind{
        height:80px ;
        
        /* font-size: 21px; */
    }
    #online{
        margin-left: 9%;
        margin-right: 7%;
    }
    #foodDiv{
        margin-left: 9%;
        margin-right: 0%;
        /* border: 1px solid black; */
    }
    #Toprest{
        margin-left: 8%;
        margin-right: 0%;
        height: 300px;
        /* border: 1px solid black; */
    }
    #time{
        font-size: 12px;
    }
    #Toprest > #mind{
        height:80px ;
    }
    #Toprest > hr{
        display: none;
    }
    .itemImg{
        height: 110px;
        /* border: 1px solid black; */
    }
    .cartitems >h5{
        font-size: 15px;
    }
    #cartitems{
        /* display: none; */
        width: 100px;
        /* border: 1px solid black; */
    }
    .cartitems{
        width: 200px;
        /* width: 250px; */
        /* border: 1px solid black; */
    }
    .card-body > p{
        font-size: 15px;
    }
    #card-body > p{
        font-size: 15px;
    }
    
    .card-body{
        width: 200px;
    }
    #dishItems{
        margin-left: 0%;
        margin-right: 0%;
        width: 100%px;
        /* border: 1px solid black; */
        /* height: ; */
    }
    #main{
        margin-left: 8%;
        margin-right: 0%;
        height: 150px;
        overflow-x: hidden;
        overflow-y: hidden;

    }
    .mindFood{
        height: 160px;
        width: 15%;
        
    }
    .imgcol{
        height: 80px;
        width: 70px;
    }
    .grid-container1{
        display: none;
    }
    .app{
        display: grid;
    }
    .app-text{
        padding: 0px 0px 0px 0px !important;
    }
    .s-icon-main{
    
        margin-left: 30px;
      }

    /* #mind{
        /*  */
    /* }  */
}
@media screen and (max-width: 300px) {
    #Toprest{
        /* border: 1px solid black; */
        height:300px ;
    }
    #dishItems{
        height: 80%;
        width: 100%;
        overflow-x: auto;
    /* overflow-x: hidden; */
    display: flex;
    position: relative;
    scroll-behavior: smooth;
    }
    .cartitems{
        height: 200px;
        width: 100%;
        /* border: 1px solid black; */
    }
    .itemImg{
        /* width: 70px; */
        height: 70px;
    }
    .card-body{
        font-size: 10px;
        /* border:1px solid black; */
    }
    .card-body > p{
        font-size: 15px;
    }
    #card-body > p{
        font-size: 15px;
    }
    .cards-body > h5 {
        font-size: 10px;
    }
    .h5tag{
        font-size: 10px;
    }
    .grid-container1{
        display: none;
        
    }
    .app{
        display: grid;
    }
    .app-icons a{
        display: grid;
    }
    .app-text{
        padding: 0px 0px 0px 0px !important;
        font-size: 10px;
    }
    .s-icon-main{
    
        margin-left: 0px;
      }
}
@media (min-width:680px) and (max-width: 980px) {
    #foodDiv{
        height: 600px;
        display: grid;
    }
    .cardsitem{
        height: 300px;
        width: 100%;
    }
    #online{
        height: 1400px;
    }
    #filter{
        overflow-x: auto;
        display: none;
        position: relative;
        scroll-behavior: smooth;
    }
    #filter::-webkit-scrollbar{
        width:0;
    } 
    
    .filtbut{
        min-width: 22%;
    }
    #filtbut{
        min-width: 25%;
    }
    .dropdown{
        min-width: 11%;
        margin-right: 0px;
        /* border: 1px solid black; */
    }
    #items{
        min-width: 22%;
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
    }
    #mind{
        height: 80px;
    }
    #Toprest > hr{
        display: none;
    }
    #Toprest{
        /* border: 1px solid black; */
        height: 350px;
    }
    .allplace{
        width: 100%;
        height: 120px;
        display: grid;
    }
    .twoplaces{
        width: 100%;
    }
    #bestplace{
        height: 350px;
    }
    .cardimage{
        height: 60%;
    }
    .itemImg{
        height: 120px;
        border-radius: 15px;
        width: 80%;
    }
    .card-body{
        width: 95%;
        margin-left: 8%;
    }
    .card-body>h5{
        font-size: 15px;
        margin-left: 6%;
    }
    #mindItems{
        overflow-x: auto;
    
        position: relative;
        scroll-behavior: smooth;
    }
    #mindItems::-webkit-scrollbar{
        width:0;
    }
        /* #mindItems::-webkit-scrollbar{
        width:0;
    } */
    .mindFood{
        height: 160px;
        width: 15%;
        
    }
    #main{
        height: 250px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .imgcol{
        height: 130px;
        width: 100px;
    }
}
@media screen and (max-width: 680px) {
    #foodDiv{
        display: grid;
        height: 1400px;
        /* border: 1px solid black; */
    }
    .cardsitem{
        display: grid;
        width: 100%;
        height:700px ;
        /* border: 1px solid black; */
    }
    .foodItems{
        width: 100%;
        height:330px ;
        /* border: 1px solid black; */
    }
    .cardimage{
        height:60% ;
    }
    #online{
        height: 3100px;
    }
    #bestplace{
        /* border: 1px solid black; */
        height: 450px;
        display: grid;
        width: 100%;
    }
    #content{
        font-size: 21px;
    }
    .allplace{
        justify-content: center;
        /* border: 1px solid black; */
        display: inline;
        width: 100%;
        height: 180px;
    }
    .twoplaces{
        justify-content: center;
        /* display: grid; */
        width: 100%;
        height: 100px;
    }
    .single{
        width: 50%;
        height: 60px;
    }
    #online > #mind{
        height:80px ;
        
        /* font-size: 21px; */
    }
    #online{
        margin-left: 9%;
        margin-right: 7%;
    }
    #foodDiv{
        margin-left: 9%;
        margin-right: 0%;
        /* border: 1px solid black; */
    }
    #Toprest{
        margin-left: 8%;
        margin-right: 0%;
        height: 300px;
        /* border: 1px solid black; */
    }
    #time{
        font-size: 12px;
    }
    #Toprest > #mind{
        height:80px ;
    }
    #Toprest > hr{
        display: none;
    }
    .itemImg{
        height: 110px;
        /* border: 1px solid black; */
    }
    .cartitems >h5{
        font-size: 15px;
    }
    #cartitems{
        /* display: none; */
        width: 100px;
        /* border: 1px solid black; */
    }
    .cartitems{
        width: 200px;
        /* width: 250px; */
        /* border: 1px solid black; */
    }
    .card-body > p{
        font-size: 15px;
    }
    #card-body > p{
        font-size: 15px;
    }
    
    .card-body{
        width: 200px;
    }
    #dishItems{
        margin-left: 0%;
        margin-right: 0%;
        width: 100%px;
        /* border: 1px solid black; */
        /* height: ; */
    }
    #main{
        margin-left: 8%;
        margin-right: 0%;
        height: 150px;
        overflow-x: hidden;
        overflow-y: hidden;

    }
    .mindFood{
        height: 160px;
        width: 15%;
        
    }
    .imgcol{
        height: 80px;
        width: 70px;
    }
    .s-icon-main{
    
       margin-left: 0% !important;
      }

    /* #mind{
        /*  */
    /* }  */
}
@media screen and (max-width: 300px) {
    #Toprest{
        /* border: 1px solid black; */
        height:300px ;
    }
    #dishItems{
        height: 80%;
        width: 100%;
        overflow-x: auto;
    /* overflow-x: hidden; */
    display: flex;
    position: relative;
    scroll-behavior: smooth;
    }
    .cartitems{
        height: 200px;
        width: 100%;
        /* border: 1px solid black; */
    }
    .itemImg{
        /* width: 70px; */
        height: 70px;
    }
    .card-body{
        font-size: 10px;
        /* border:1px solid black; */
    }
    .card-body > p{
        font-size: 15px;
    }
    #card-body > p{
        font-size: 15px;
    }
    .cards-body > h5 {
        font-size: 10px;
    }
    .h5tag{
        font-size: 10px;
    }
    .s-icon-main{
    margin-left: 0% !important;
    display: none;
   }
}
